li {
    list-style: none;
}
header{
    background-color: antiquewhite;
}
button{
    border-radius: 15px;
    width: 300px;
    height: 120x;
    text-align: center;
    margin-left: 650px;
}
img{
    width: 250px;
    height: auto;
     
}

.footer {
    background-color: antiquewhite;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /*Product cards */
  .product-card img{
      width: 200px;
      height: auto;
  }
  ul{
      display: flex;
  }