body{
    background-color:#dee2d550 ;
}
nav{
    position: sticky;
    top: 0;
}
#product-select
{
    display: flex;
    align-items: flex-start;
}
h1{
    margin-left: 600px;
}
h1#title{
    margin: auto;
}
li {
    list-style: none;
}
header{
    background-color: antiquewhite;
}
/*button{
    width: 20px;
    height: 15px;
}*/
button{
    background-color: white;
    width: 600px;
    height: 250px;
    border-radius: 15px;
    text-align: center;
    border-width: 1px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    
}
#ajout-panier{
    width: 20px;
    height: 15px;
}
img#logo{
    width: 200px;
    height: auto; 

}
#image-produit{
    width: 300px;
    height: 250px;
    margin: 20px;
    border-width: 1px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    margin-left: 250px;
}
/*.zoom {
    overflow: hidden;
    display: block;
    width:300px;
    }*/
    #image-produit{transition: 0,5s;}
    #image-produit:hover{transform: scale(1.2);}
    
    
.footer {
    background-color: antiquewhite;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /*Product cards */
  .product-card img{
      width: 200px;
      height: auto;
  }
  ul{
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      margin-left: 400px;
  }
  li{
      list-style-type: none;
      padding-top: 5px;
      justify-content: center;
  }
  div{
      list-style-type: none;
  }
  button#ajout-panier{
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      width: 150px;
  }